extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

prepend javascript-block
  script(src="./js/WebModule.js")
  
block content-block
  | hello, world!
  p.hoge
